h1{

    text-align: center;
    
}
 body{
   background: #cccccc

 }
   em{
    color: rgb(125, 0, 235)

   }

   .banner {
    width: 100%;
   }
   .beneficios{
    background:#ffffff;
    padding: 20px;
   }

   .imgembeneficios {
    width: 45%;

   }